body{
    background-color: grey;
}
.container{
    background-color: #F2D3BC; 
    background-repeat: no-repeat;
}
 #nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#F2D3BC;
  }
  
 #nav1 li {
    float: left;
  }
  
 #nav1 li a {
    display: block;
    color:#F2D3BC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 #nav1 li a:hover {
    background-color:#F2D3BC;
    color:maroon;
  }

.row{ width: 95.6%;
    height: 70px;
    background-color: maroon;
    color: #F2D3BC;
    position:fixed;
    top: 0;

  }
  h3{
      background-color: maroon;
      color: #F2D3BC;
      margin: 20px;
      
  }
  
.banner{
    margin:20px;
    
}
.container{
    background-color: #F2D3BC;
}
.images{
    height: 300px;
    width: 100%;

}
.image1{
    float:left;
    margin:16px;
}
.image2{
    float: left;
    margin:12px;
}
.image3{
    float: left;
    margin:10px;
}
#section img{
    width :25%; 
    height: 250;
     width: 250;
    
    float: right;
}

}
.email{
    float: left;
   
}
.tel{
    float: left;
   
}
.copy{
    float: left;
   
}
.foot{
   background-color: maroon;
   width: 1219px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
   
}
.foot p{
    display: inline-block;
    margin-left:200px;
    color: #F2D3BC;
    
}

    /* about-us style*/
.row-abt1 img{
width: 200px;
height: 180px;
left: 1078px;
top: 721px;
margin: 20px;
}
.row-abt2 img{
    width: 300px;
    height: 250px;
    left: 1078px;
    top: 721px;
    margin-left: 55px;
    margin-left:55px ;
    }
.row-b img{
        
        margin-right:20px;
        width: 1220px;
        height: 250px;
}
.row-gal2 img{
    width: 250px;
height: 200px;
left: 1078px;
top: 721px;
margin: 20px;
}

.row1 {
    height: 500px;
    width: 95%;
}

.content-area {
    float: left;
    width: 250px;
}
.content-area p{
text-align: left;
}

.most-liked h1 {
    float: right;
    left: 100px;
    text-align: right;
}
.form{
    width: 80%;
    margin: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#F2D3BC;
    color:maroon;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:maroon;
  }
  .container-form{
      width: 100%;
      
  }