body{
    background-color: grey;
}
#nav1  a {
    float: left;
    color: maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:inline ;
  }
ul {
        list-style-type: none;
        margin: 10px;
        padding: 10px;
      }
#nav2   a{
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
#nav2{
    background-color: maroon;
    color: #F2D3BC;
    width: 25%;
}
.banner{
    margin:20px;
}
.container{
    background-color: #F2D3BC;
}
.footer{
    margin: 20px;
}